/*
Ons kleurenpallet:

groen: #0CA789
blauw: #04AEBD
rood/oranje: #F24726
Zwart: #000

groen: #cfe550
paars: #322244
*/


/*main css styling*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-image: url(../img/bg/bg6.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #fff;
    font-family: catseye, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

body {
    height: 100vh;
}

a {
    color: #fff;
    text-decoration: none;
}


/*Header voor account setup*/

header.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    width: 100vw;
}

header.top h4 {
    font-size: 20px;
}

/*titel bij setup account onder de kop create account*/
.Setup_title {
font-size: 1.5em
}

/*Bolletjes onderaan de pagina*/
#progress {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
     position: absolute;
     bottom: 4%;
}

#progress span {
    background-color: white;
    padding: 15px;
    border-radius: 50px;
}

#progress span.current {
    background-color: #cfe550;
}


/*Styling voor login page*/

#page_login {
    margin: 0 auto;
}

#page_login div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: calc(100%/3);
}

#page_login .logo_image {}

.login_types .login-title {
    font-size: 3em;
    margin: 0;
}

.login_types a {
    font-family: sans-serif;
    font-size: 1.5em;
    border: 2px solid #fff;
    padding: 5px 0 5px 50px;
    border-radius: 15px;
    text-align: left;
    width: 85vw;
    white-space: nowrap;
    margin: 10px 0;
}

.login_types p i {
    font-size: 1em;
}

.login_FB {
    background-color: #3b5998;
}

.login_FB::before,
.login_GL::before,
.login_EM::before {
    position: absolute;
    left: 12%;
}

.login_FB::before {
    content: url(../img/icons/facebook-24.png);
}

.login_GL::before {
    content: url(../img/icons/google-plus-24.png);
}

.login_EM::before {
    content: url(../img/icons/email-24.png);
}

.login_GL {
    background-color: #D44638;
}

.login_EM {
    background-color: #cfe550;
}

.password_forgot {
    justify-content: center!important;
}

.password_forgot a {
    text-decoration: underline;
    margin: 1em 0;
    font-size: 1.2em;
}


/*styling voor account setup*/

#setup_page1 form {
    text-align: center;
    height: 50vh;
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#setup_page1 ::placeholder {
color: #fff;
}

#setup_page1 form label {
    font-family: /*insert catseye font here*/  ;
    font-size: 1.5em;
}

#setup_page1 form input {
    border: 2px solid #fff;
    padding: 5px 0 5px 50px;
    border-radius: 10px;
    min-width: 90%;
    width: 100%;
    background-color: #cfe550;
}

.goToNextPage {
    text-align: center;
     width: 40vw;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 15%;
}
 .goToNextPage a {
    font-size: 1.5em;
    color: #000;
    background-color: #fff;
    border: 2px solid #cfe550;
    padding: 5px 50px;
    border-radius: 10px;   
}

/*setup pagina 2*/
#setup_page2 .choseConsole {
    display: flex;
}
#setup_page2 .choseConsole .container{
/*    position: relative;*/
    flex: 5;
    background-color: #cfe550;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#setup_page2 .choseConsole .container img {
    margin: 0 auto;
    width: 150px;
    height: 150px; 
}
#setup_page2 .choseConsole .container p {
font-size: 40px;
}

#setup_page2 .choseConsole p {
    flex: 1;
font-size: 80px;

}

/*setup pagiona 3 */


#setup_page3 #searchcontainer {
    overflow: scroll;
    height: 35vh;
    width: 80vw;
    margin: 0 auto;
    background-color: #cfe550;
    border-radius: 10px;
    padding: 10px;
}


#setup_page3 #myInput {
  width: 75vw;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ddd;
  position: fixed;
  border-radius: 10px;
    left: 12%;
}

#setup_page3 #myUL {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 10px;
  overflow: scroll;
  height: 27vh;
}

#setup_page3 #myUL li a {
  margin-top: -1px; /* Prevent double borders */
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
  border-radius: 10px;
}

#setup_page3 img {
    width: 50px;
    height: 70px;
}

#setup_page3 p {
    padding-left: 10px;
    padding: 10px 0 15px 20px;
    margin: 0;
    
}

#setup_page3 a {
    text-decoration: none;
    color: black;
}


#setup_page3 .enter {
/*
    margin: 40px 69px 100px;
    left: 0;
    position: absolute;
    font-size: 19pt;
    padding: 20px 20px;
    box-shadow: 0 5px 5px 0 rgba(68, 68, 68, 0.6);
    background-color: white;
    border: 5px solid #cfe550; 
*/
}

#setup_page3 #foo {
    font-size: 15pt;
    color: black;
    margin: 30px;
    background-color: #cfe550;
    list-style: none;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
    width: fit-content;
    font-family: sans-serif;    
}

#setup_page3 .enterbutton {
/*
    display: flex;
    justify-content: center;
*/
}

#setup_page3 ul {
    list-style: none;
}

#setup_page3 li {
    padding: 5px;
}

#setup_page3 p#games {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 50pt;
}

#setup_page3 #clear {
    padding: 5px 10px;
    margin: 10px auto;
    background-color: gainsboro;
    width: 75vw;
    border-radius: 10px;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
}

#setup_page3 #myUL li {
    border-radius: 10px;
}

.chosen {
    background-color: #322244;
    color: white !important;
    pointer-events: none;
}

#setup_page3 .goToNextPage {
width: 70vw;}